num_class=5
batch=50
iterations=200
save_iteration=0
logdir=analog_classification
arch=pid
debug=0
filler=oneclass_filler.cfg
# Assumes we work @ wu for the path below
load_file=/data/drinkingkazu/summer2017/weights_classification/pid_step036599
